.noDataScreen{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.noDataScreen span{
    font-size: 90px;
    color: black
}

.NoDataIcon{
    color: orange;
    font-size: 90px !important;
    
}